@model IEnumerable<FashionWorld.Models.Category>

@{
    ViewData["Title"] = "Categories";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead class="bg-info text-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryID" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
