
@{
    ViewData["Title"] = "Help";
}
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-6 col-sm-10 m-auto">
                <img src="~/images/help.png" class="img-responsive img-fluid" />
            </div>
            <div class="col-md-4 col-sm-10 m-auto">
                <h3 class="text-danger text-center">Help Center <span>
                    <i class="fas fa-headphones fa-2x"></i></span>
                </h3>
                <ul class="list-group text-center">
                    <li class="list-group-item disabled">Many Option to Help You :</li>
                    <li class="list-group-item lead list-group-item-warning"><i class="fas fa-phone"></i> : +97082112233</li>
                    <li class="list-group-item lead list-group-item-dark"><i class="fas fa-mobile"></i> : +970599112233</li>
                    <li class="list-group-item lead list-group-item-success"><i class="fas fa-envelope "></i> : fashionworld@gmail.com</li>
                    <li class="list-group-item">
                        <a asp-action="Index" asp-controller="Chatter" class="list-group-item list-group-item-action list-group-item-danger">Chat us to Help You</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>