@model ProductListVM
@{
    ViewData["Title"] = "Home Page";
}
<!-- SLIDER -->
<div class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev-slider1" class="rev_slider fullwidthabanner">
        <ul>
            <!-- Slide 1 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="~/images/slider/slider-1.jpg" alt="" data-bgposition="center center" data-no-retina>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme text-white font-weight-300"
                     data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-93','-93','-93','-93']"
                     data-fontsize="['24','24','24','18']"
                     data-lineheight="['72','72','72','36']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    NEW TREND 2018
                </div>

                <div class="tp-caption tp-resizeme text-white font-weight-500"
                     data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-42','-42','-42','-42']"
                     data-fontsize="['52','52','52','40']"
                     data-lineheight="['60','60','60','40']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    New Collection
                </div>

                <div class="tp-caption tp-resizeme text-white font-weight-400 "
                     data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['12','12','12','12']"
                     data-fontsize="['18','18','18','16']"
                     data-lineheight="['72','72','72','38']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    BIG SALE OF THIS WEEK UP TO 30%
                </div>

                <div class="tp-caption"
                     data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <a href="#" class="themesflat-button has-padding-36 bg-accent has-shadow"><span>SHOP NOW</span></a>
                </div>
            </li>
            <!-- /End Slide 1 -->
            <!-- Slide 2 -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="~/images/slider/slider-2.jpg" alt="" data-bgposition="center center" data-no-retina>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme text-333 font-weight-400 text-right"
                     data-x="['right','right','right','center']" data-hoffset="['33','33','33','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-115','-115','-115','-115']"
                     data-fontsize="['22','22','22','22']"
                     data-lineheight="['60','60','60','60']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <span class="text-line left"></span>Summer Fashion<span class="text-line right"></span>
                </div>

                <div class="tp-caption tp-resizeme text-333 font-weight-500 letter-spacing-10 text-right"
                     data-x="['right','right','right','center']" data-hoffset="['13','13','13','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-39','-39','-39','-59']"
                     data-fontsize="['130','130','130','60']"
                     data-lineheight="['130','130','130','60']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    SALE
                </div>

                <div class="tp-caption tp-resizeme text-333 font-weight-400 text-right"
                     data-x="['right','right','right','center']" data-hoffset="['13','13','13','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','5']"
                     data-fontsize="['48','48','48','28']"
                     data-lineheight="['60','60','60','40']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    UP TO <span class="text-accent">30%</span> OFF
                </div>

                <div class="tp-caption text-right"
                     data-x="['right','right','right','center']" data-hoffset="['105','105','105','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['138','138','138','80']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <a href="#" class="themesflat-button bg-accent has-shadow"><span>BY NOW</span></a>
                </div>
            </li>
            <!-- /End Slide 2 -->
        </ul>
    </div>
</div>
<!-- END SLIDER -->
<!-- IMAGE BOX -->
<section class="flat-row row-image-box bg-light my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 pt-5">

                <h2 class="font-weight-500 pb-2">On Sale</h2>
                <h1 class="display-5">UP to <span class="badge badge-dark p-1">20%</span> Off</h1>
                <hr />
                <h4 class="text-muted">injoy with our new collection</h4>
            </div>
            <div class="col-md-9">
                <div class="container">
                    <div class="row gutter-10">
                        <div class="col-sm-6 col-md-4">
                            <div class="flat-image-box style-1 data-effect div-h22 clearfix">
                                <div class="item data-effect-item">
                                    <div class="inner">
                                        <div class="thumb">
                                            <img src="~/images/image-box/men.jpg" alt="Image">
                                            <div class="elm-btn">
                                                <a href="#" class="themesflat-button bg-white width-150">For Men’s</a>
                                            </div>
                                            <div class="overlay-effect bg-color-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.col-md-4 -->
                        <div class="col-sm-6 col-md-4">
                            <div class="flat-image-box style-1 row2 data-effect clearfix">
                                <div class="item data-effect-item">
                                    <div class="inner">
                                        <div class="thumb">
                                            <img src="~/images/image-box/kids.jpg" alt="Image">
                                            <div class="elm-btn">
                                                <a href="#" class="themesflat-button bg-white width-150">For Kid’s</a>
                                            </div>
                                            <div class="overlay-effect bg-color-1"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item data-effect-item">
                                    <div class="inner">
                                        <div class="thumb">
                                            <img src="~/images/image-box/electronics.jpg" alt="Image">
                                            <div class="elm-btn">
                                                <a href="#" class="themesflat-button bg-white width-150">Electronics</a>
                                            </div>
                                            <div class="overlay-effect bg-color-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.col-md-4 -->
                        <div class="col-sm-6 col-md-4">
                            <div class="flat-image-box style-1 data-effect div-h20 clearfix">
                                <div class="item data-effect-item">
                                    <div class="inner">
                                        <div class="thumb">
                                            <img src="~/images/image-box/women.jpg" alt="Image">
                                            <div class="elm-btn">
                                                <a href="#" class="themesflat-button bg-white width-150">For woMen’s</a>
                                            </div>
                                            <div class="overlay-effect bg-color-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- END IMAGE BOX -->
<!--OFFER-->
<section class="flat-row row-image-box">
    <div class="container">
        <h1 class="text-center my-2">Offers</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-carousel-box">
                    <div class="flat-image-box flat-carousel-box has-arrows arrow-center bg-transparent offset-62 offset-v-24 style-1 data-effect div-h22 clearfix" data-auto="true" data-column="3" data-column2="2" data-column3="1" data-gap="30">
                        <div class="owl-carousel owl-theme">

                            @await Component.InvokeAsync("HomeOffer")

                        </div> <!-- /.owl-carousel  -->
                    </div>
                </div>
            </div>
        </div>
        <h2>
            <a class="text-secondary pull-right mt-2" asp-action="Offer" asp-controller="Home">see more offers</a>
        </h2>
    </div><!-- /.container -->
</section>
<!--END OFFER-->
<div class="container">
    <div class="row bg-secondary mb-3">

        <div class="col-md-8">
            <div class="">
                <h3 class="text-left display-4"> shop <br> Furnituer</h3>

                <a asp-action="List" asp-controller="Home" asp-route-category"="Furniture"
                   class="btn btn-danger">Shop Now</a>
            </div>
        </div>
        <div class="col-md-4">
            <img src="~/images/image-box/frut.png" class="img-fluid" />
        </div>


    </div>
</div>
<!--product section-->
<section id="product" class="product my-5">
    <div class="container">
        <div class="main_product">
            <div class="head_title text-center fix my-5">
                <h2 class="text-uppercase">A platform Demande All the country</h2>

            </div>

            <!-- Wrapper for slides -->
            <div class="carousel-inner text-center my-5" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="port_item xs-m-top-30">
                                    <div class="port_img">
                                        <i class="fa fa-truck fa-4x text-danger" aria-hidden="true"></i>

                                    </div>
                                    <div class="port_caption m-top-20">
                                        <h5>&#43;10000000</h5>
                                        <hr class="hr">
                                        <h6>number of daily used of product</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="port_item xs-m-top-30">
                                    <div class="port_img">
                                        <i class="fa fa-money fa-4x text-danger" aria-hidden="true"></i>

                                    </div>
                                    <div class="port_caption m-top-20">
                                        <h5>&#43;10000000</h5>
                                        <hr>
                                        <h6>number of daily used of product</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="port_item xs-m-top-30">
                                    <div class="port_img">
                                        <i class="fa fa-clock-o fa-4x text-danger" aria-hidden="true"></i>
                                    </div>
                                    <div class="port_caption m-top-20">
                                        <h5>&#43;10000000</h5>
                                        <hr>
                                        <h6>number of daily used of product</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Controls -->

            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Product section -->
