
@{
    ViewData["Title"] = "No-Offer";
}
<div class="text-capitalize text-center">
<h2 class="text-danger">Sorry, No Offer Now</h2>
<p class="lead text-primary">We Will Comming Soon With New Offer</p>
    <hr />
    <img class="img-responsive img-fluid" src="~/images/noofer.png" />
    </div>


